<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>


<table>

    <tr>
        <th colspan="5"></th>
    </tr>
    <tr>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date</th>
        <th>&nbsp;&nbsp;&nbsp;Days</th>
        <th>Mission</th>
        <th>Is multiple?</th>
    </tr>
</table>


<script type="text/template" id="table-item">

    <tr>
        <td><%= name %></td>
        <td><%= date %></td>
        <td><%= days %></td>
        <td><%= mission %></td>
        <td><%= isMultiple %></td>
        <td>&nbsp <label id="destroy">x</label></td>
    </tr>


</script>


<script type="text/template" id="table-list">

    <ul>
    </ul>
    <!--<p><label>German astronauts: < tableLength ></label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label id="newButton">
        Add new ... </label></p>-->


    <div class="popup">

        <h3>Add a new astronaut</h3>

        <p>Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="nameInput"/></p>

        <p>Date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="dateInput"/></p>

        <p>Days: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="daysInput"/></p>

        <p>Mission: &nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="missionInput"/></p>

        <p>Is multiple: <input type="text" id="isMultipleInput"/></p>

    </div>
</script>

<div id="main">
</div>


<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/backbone/backbone.js"></script>
<script src="node_modules/backbone.marionette/lib/backbone.marionette.js"></script>

<script src="app.js"></script>

</body>
</html>