<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<script type="text/template" id="table-item">
        <td><%= name %></td>
        <td><%= date %></td>
        <td><%= days %></td>
        <td><%= mission %></td>
        <td><%= isMultiple %></td>
        <td> <label id="remove">x</label></td>
</script>


<script type="text/template" id="table-list">
    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Days</th>
            <th>Mission</th>
            <th>Is multiple?</th>
        </tr>
    </table>

    <div class="popup">
        <a id="new_button">Add a new astronaut</a>
        <div class="modal_content">
            <input type="text" id="nameInput"  placeholder="Name"/>
            <input type="text" id="dateInput" placeholder="Date"/>
            <input type="text" id="daysInput" placeholder="Days"/>
            <input type="text" id="missionInput" placeholder="Mission"/>
            <input type="text" id="isMultipleInput" placeholder="Is multiple"/>
            <button id="add_button">Add</button>
        </div>
    </div>
</script>

<div id="main">

</div>


<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/backbone/backbone.js"></script>
<script src="node_modules/backbone.marionette/lib/backbone.marionette.js"></script>

<script src="app.js"></script>

</body>
</html>