body,
li {
    list-style: none;
}

input{
    border: 1px solid #8D8173;
    width: 18%;
    color: #8D8173;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    padding: 5px;
}

#remove:hover {
    cursor: pointer;
    color: red;
}

.modal_content {
    border: 10px;
    display: none;
}

.hidden_content{
    display: block;
}

#add_button{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
}

#add_button:hover {
    cursor: pointer;
}

#new_button:hover {
    cursor: pointer;
    color: red;
}

body {
    background: #E1E3E0;
}


#new_button {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #8D8173;
    font-size: 16px;
}


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 5px;
    border-radius: 20px;
    width: 100%;
}



th {
    font-size: 22px;
    font-weight: 300;
    padding: 12px 10px;
    border-bottom: 2px solid #F56433;
    color: #F56433;
    width: 20%;
}

td {
    align : "center";
    padding: 10px;
    color: #8D8173;
    width: 20%;
}